.board {
  width: 300px;
  height: 300px;
  display: block;
  margin: 50px auto;
}

.board__row {
  width: 100%;
  display: flex;
  height: calc(100% / 3);
  justify-content: space-between;
}

.board__row svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.board__row:nth-of-type(even) {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.board__row--3 {
  height: calc(100% / 3);
}

.board__row--4 {
  height: calc(100% / 4);
}

.board__row--5 {
  height: calc(100% / 5);
}

.board__row--6 {
  height: calc(100% / 6);
}

.board__space {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.board__space:nth-child(even) {
  border-right: 1px solid black;
  border-left: 1px solid black;
}

svg {
  overflow: visible;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
